/* sass特性 */
.menu {
	width: 100%;

	a {
		text-decoration: none;
	}

	&::before {
		content: '';
	}

}

/* 定义变量 */
$color: #ccc;
$text_color: #232323;

body {
	color: $text_color;
}

/* 条件选择 */
$column_layout: 2;

.column {
	@if $column_layout == 2 {
		width: 50%;
		float: left;
  } @else {
		width: 100%;
	}
}

/* 定义 for 循环 */
@for $i from 1 to 3 {
	p:nth-of-type($i){
		margin-left: calc( 100% / $i );
	}
}

/* each循环 */
$social: twitter, facebook, youtobe;
@each $icon in ($social) {
	.icon-$(icon) {
		background: url('img/$(icon).png')
	}
}

/* 混合宏 */
@define-mixin icon $network, $color {
	.button.$(network) {
		background-image: url('img/$(network).png');
		background-color: $color;
	}
}

@mixin icon twitter, blue;

@mixin icon youtube, red;

/* calc计算 */
@define-mixin columns_calc $count {
	width: calc( 100% / $count );
	@if $count > 1 {
		float: left;
  }
}

.column_calculated {
	@mixin columns_calc 2;
}

/* 嵌套应用 */
.menu {
	width: 100%;
	a {
		text-decoration: none;
	}
}

/* 添加扩展 */
%rounded_button {
	 border-radius: 0.5rem;
	 padding: 1em;
	 border-width: 0.0625rem;
	 border-style: solid;
 }

 .blue_button {
	 @extend %rounded_button;
	 border-color: #2F74D1;
	 background-color: #3B8EFF;
 }

 .red_button {
	 @extend %rounded_button;
	 border-color: #C41A1E;
	 background-color: #FF2025;
 }

 /* 定义属性 */
size: $size {
	height: $size;
	width: $size;
}

.square {
	size: 50px;
}