/* sass特性 */
.menu {
	width: 100%;

	a {
		text-decoration: none;
	}

	&::before {
		content: '';
	}

}

/* 定义变量 */
$color: #ccc;
$text_color: #232323;

body {
	color: $text_color;
}

/* 条件选择 */
$column_layout: 2;

.column {
	@if $column_layout == 2 {
		width: 50%;
		float: left;
  } @else {
		width: 100%;
	}
}

/* 定义 for 循环 */
@for $i from 1 to 3 {
	p:nth-of-type($i){
		margin-left: calc( 100% / $i );
	}
}

/* each循环 */
$social: twitter, facebook, youtobe;
@each $icon in ($social) {
	.icon-$(icon) {
		background: url('img/$(icon).png')
	}
}

/* 混合宏 */
@define-mixin icon $network, $color {
	.button.$(network) {
		background-image: url('img/$(network).png');
		background-color: $color;
	}
}

@mixin icon twitter, blue;

@mixin icon youtube, red;

/* calc计算 */
@define-mixin columns_calc $count {
	width: calc( 100% / $count );
	@if $count > 1 {
		float: left;
  }
}

.column_calculated {
	@mixin columns_calc 2;
}